<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>18949852453-j12hd3qfsv3ku43nekma3n2ijv3e0srs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.18949852453-j12hd3qfsv3ku43nekma3n2ijv3e0srs</string>
	<key>API_KEY</key>
	<string>AIzaSyA8wW2NHcXDqbrGUL49AbNwLVOyvKXoZ6M</string>
	<key>GCM_SENDER_ID</key>
	<string>18949852453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.iesFlutterApplication</string>
	<key>PROJECT_ID</key>
	<string>ies-67563</string>
	<key>STORAGE_BUCKET</key>
	<string>ies-67563.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18949852453:ios:97647911d2d0ef8e3d1ecc</string>
</dict>
</plist>